{% extends "base.html" %}

{% block title %}About | Sentiment App{% endblock %}

{% block content %}
<div class="glass-card">
    <h2>About This Project</h2>
    <p>
        This Sentiment Analysis web application is built using
        <strong>Python Flask</strong>, <strong>NLP</strong>,
        <strong>HTML</strong>, <strong>CSS</strong> and <strong>Bootstrap</strong>.
    </p>

    <p>
        It analyzes CSV files and YouTube comments to determine
        Positive, Negative or Neutral sentiment.
    </p>
</div>
{% endblock %}
